.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background: black;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.containerGif {
  margin-top: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* background: red; */

  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.title {
  color: white;
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
}

.input {
  width: 320px;
  height: 22px;
  border-radius: 10px;
  border: none;
}
.button {
  margin-left: 15px;
  width: 65px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background: rgb(8, 8, 255);
  transition: background 0.4s;
}

.button:hover {
  background: rgb(255, 255, 255);
}

.input:focus {
  outline: solid 3px rgb(23, 255, 50);
}

@media all and (max-width: 640px) {
  .input {
    width: 200px;
    height: 22px;
    border-radius: 10px;
    border: none;
  }

  .containerGif {
    margin-top: 50px;
    width: 270px;

    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .gif {
    width: 250px;
  }
}